In [11]:
import re

In [17]:
#Match a single character

pattern = r'y'

if re.search(pattern, 'Aisha'):
    print("The string contains the character 'y'")
else:
    print("The string does not contain the character 'y'")

The string does not contain the character 'y'

In [21]:
name = "sana"

In [22]:
#Match any character:

pattern = r'.'

if re.search(pattern, 'abc'):
    print("The string contains any character")
else:
    print("The string does not contain any character")

The string contains any character

In [25]:
#Match a range of characters:


pattern = r'[a-z]'

if re.search(pattern, 'YIGJUJ'):
    print("The string contains a lowercase letter")
else:
    print("The string does not contain a lowercase letter")

The string does not contain a lowercase letter

In [27]:
#Match a sequence of characters

pattern = r'Ab'

if re.search(pattern, 'this fed utility has zero ammount'):
    print("The string contains the sequence 'utility'")
else:
    print("The string does not contain the sequence 'utility'")

The string contains the sequence 'ab'

In [29]:
#Match a string at the beginning of the line:
    
pattern = r'^hello'

if re.search(pattern, 'Hello World'):
    print("The string starts with 'Hello'")
else:
    print("The string does not start with 'Hello'")

The string does not start with 'Hello'

In [30]:
#Match a string at the end of the line


pattern = r'World$'

if re.search(pattern, 'Hello World'):
    print("The string ends with 'World'")
else:
    print("The string does not end with 'World'")

The string ends with 'World'

In [31]:
#Match a string that contains a word


pattern = r'\bword\b'

if re.search(pattern, 'This is a word'):
    print("The string contains the word 'word'")
else:
    print("The string does not contain the word 'word'")

The string contains the word 'word'

In [32]:
Match a string that contains a number

pattern = r'\d+'

if re.search(pattern, '12345'):
    print("The string contains a number")
else:
    print("The string does not contain a number")

SyntaxError: invalid syntax (1878222428.py, line 1)

In [35]:
#Match a string that contains an email address:
    
    
pattern = r'@'

if re.search(pattern, 'johndoe@gmail.com'):
    print("The string contains an email address")
else:
    print("The string does not contain an email address")

The string contains an email address

In [ ]:
Match a string that contains a URL:
    
    
pattern = r'https?://\w+\.\w+'

if re.search(pattern, 'https://www.google.com'):
    print("The string contains a URL")
else:
    print("The string does not contain a URL")

In [36]:

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

In [37]:
x

In [39]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [1]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_regex.asp")
df[0]

C:\Users\Yousuf Traders\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Yousuf Traders\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\Yousuf Traders\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

  Function                                        Description
0  findall              Returns a list containing all matches
1   search  Returns a Match object if there is a match any...
2    split  Returns a list where the string has been split...
3      sub         Replaces one or many matches with a string

In [2]:
df[1]

,Character,Description,Example,Try it
0,[],A set of characters,"""[a-m]""",Try it »
1,\,Signals a special sequence (can also be used t...,"""\d""",Try it »
2,.,Any character (except newline character),"""he..o""",Try it »
3,^,Starts with,"""^hello""",Try it »
4,$,Ends with,"""planet$""",Try it »
5,*,Zero or more occurrences,"""he.*o""",Try it »
6,+,One or more occurrences,"""he.+o""",Try it »
7,?,Zero or one occurrences,"""he.?o""",Try it »
8,{},Exactly the specified number of occurrences,"""he.{2}o""",Try it »
9,|,Either or,"""falls|stays""",Try it »
10,(),Capture and group,NaN,NaN

In [3]:
df[2]

,Character,Description,Example,Try it
0,\A,Returns a match if the specified characters ar...,"""\AThe""",Try it »
1,\b,Returns a match where the specified characters...,"r""\bain""r""ain\b""",Try it » Try it »
2,\B,Returns a match where the specified characters...,"r""\Bain""r""ain\B""",Try it » Try it »
3,\d,Returns a match where the string contains digi...,"""\d""",Try it »
4,\D,Returns a match where the string DOES NOT cont...,"""\D""",Try it »
5,\s,Returns a match where the string contains a wh...,"""\s""",Try it »
6,\S,Returns a match where the string DOES NOT cont...,"""\S""",Try it »
7,\w,Returns a match where the string contains any ...,"""\w""",Try it »
8,\W,Returns a match where the string DOES NOT cont...,"""\W""",Try it »
9,\Z,Returns a match if the specified characters ar...,"""Spain\Z""",Try it »

In [4]:
df[3]

          Set                                        Description    Try it
0       [arn]  Returns a match where one of the specified cha...  Try it »
1       [a-n]  Returns a match for any lower case character, ...  Try it »
2      [^arn]  Returns a match for any character EXCEPT a, r,...  Try it »
3      [0123]  Returns a match where any of the specified dig...  Try it »
4       [0-9]      Returns a match for any digit between 0 and 9  Try it »
5  [0-5][0-9]  Returns a match for any two-digit numbers from...  Try it »
6    [a-zA-Z]  Returns a match for any character alphabetical...  Try it »
7         [+]  In sets, +, *, ., |, (), $,{} has no special m...  Try it »

In [ ]:
pattern = r'[a-z]'

if re.search(pattern, 'YIGJUJ'):
    print("The string contains a lowercase letter")
else:
    print("The string does not contain a lowercase letter")